body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  font-size: 6px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
/* .card-img-bottom {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
} */

  <style type="text/css">
 /* 기본 설정*/
		 a{text-decoration:none; color:#000000;}		 
		 a:hover{color:#ff0000;} 					
		 
		 /* nav tag */
		 nav ul{padding-top:10px;}  /*  상단 여백 10px  */
		 nav ul li {
			display:inline;  /*  세로나열을 가로나열로 변경 */
			border-left:1px solid #999; /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
			font:bold 12px Dotum; 	/* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */
			padding:0 165px; 	/* 각 메뉴 간격 */
		}
		 nav ul li:first-child{border-left:none;} /* 메뉴 분류중 제일 왼쪽의 "|"는 삭제 */
    h1{
           font-size: 45px;
           text-align:center;         
        }



body{
    overflow: hidden;
}
.image{
    position:relative;
    float: left;
    height: 200px;
    width:300px;
    margin : 2px;
    border: 1px solid white;
    z-index:0;
}
.image-selected{ 
    border: 1px solid black;
    background-color:white;
}
.image-selected > img{
    opacity: 0.5;
}
.image > img{
    height:100%;
}
.image-magnified{
    z-index:1;
}
.image-magnified > img{
    height:400px;
    width:600px;
    margin-left:-150px;
    margin-top:-100px;
    opacity:0.95;
}